
<div data-bind="visible: canVisibleBlock ">
    <div data-role="collapsible">
        <div data-role="title">POSTOFFICES</div>
        <div data-role="content" style="display:none" class="postOffice red">
            </br>
            <label for="tags">Tags: </label>
            <input id="tags" class="inputPostOffices">

        </div>
    </div>
    <div data-role="collapsible">
        <div data-role="title">ADDRESSES</div>
        <div data-role="content" style="display:none" class="postOffice green">
            </br>
            <label for="tags">Tags: </label>
            <input id="tags">

        </div>
    </div>
</div>
<br/>
