
<div data-bind="visible: canVisibleBlock ">
    <div>
        <div >POSTOFFICES</div>
        <div style="display:none" class="postOffice red">
            <label>Tags: </label>
            <input id="tags1" class="inputPostOffices" data-bind="afterRender: setSearchElement"> 
        </div>
    </div>
    <div>
        <div>ADDRESSES</div>
        <div style="display:none" class="postOffice green">
            <label>Tags: </label>
            <input id="tags2">
        </div>
    </div>
</div>
<br/>
